
{{#
	@name Team member
	@desc For use in team section
#}}

<div class="px-2.5 sm:px-3 py-4 sm:py-5 border-2 border-indigo-200 md:px-8 rounded-3xl">
    <div class="flex flex-col items-center justify-center space-y-4 md:space-x-4 md:flex-row lg:space-x-6">
        <div class="relative overflow-hidden rounded-full w-28 h-28 md:w-16 md:h-16 lg:w-24 lg:h-24">
            {{ partial:components/figure :image="avatar" size="md" }}
        </div>
        <div class="space-y-0.5 text-center">
            <h3 class="font-serif text-base font-normal md:text-xl lg:text-4xl"> {{ name }}</h3>
            <p class="text-sm font-medium text-indigo-400 md:text-lg"> {{ position }}</p>
        </div>
    </div>
</div>
