{{#
	@name Despre noi
	@desc Template pagina despre noi
#}}


<section class="pt-24 lg:pt-32">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid md:grid-cols-2 md:gap-x-12">
            <div class="col-span-1">
                <div class="flex flex-col justify-center h-full md:space-y-8">
                    <p class="hidden font-bold text-indigo-400 uppercase md:block"> despre noi </p>
                    {{ partial:typography/h2 content="Siguranța actului medical, la cea mai înaltă calitate." }}
                    <p class="mt-6 font-normal text-indigo-400"> Aceasta este misiunea EAN Clinic.</p>
                </div>
            </div>
            <div class="col-span-1 mt-12 ">
                <div class="block overflow-hidden shadow-xl aspect-w-4 aspect-h-4 rounded-3xl">
                    {{ partial:components/picture :image="hero_image" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 lg:py-12 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 ">
            <div class="order-2 col-span-1 mt-12 space-y-12 md:mt-0 md:order-1 lg:space-y-16 ">
                <div class="md:ml-auto md:max-w-64 lg:max-w-sm ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture :image="image_6" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture :image="image_7" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
            <div class="order-1 col-span-1 md:order-2 delayed-section">
                <div class="flex flex-col max-w-md pt-8 mx-auto space-y-6 md:pt-16 lg:pt-24 lg:space-y-8 text-wrapper">
                    <h3 class="font-serif text-4xl font-normal text-indigo-900 xl:text-5xl">Viziunea noastră</h3>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        EAN Clinic livreaza experienta unica de cel mai bun camarad in drumul spre sanatate.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Specialitatile medicale unite si cunostintele pe care le avem ne-au permis sa revolutionam abordarea problemelor de sanatate ale pacientului.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Inca din 2015 am inceput sa intelegem ca nevoile pacientului sunt complexe trebuie diagnosticate si tratate in totalitate.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        De aceea conceptul de full face recovery a iesit la suprafata cunostintelor medicale unind estetica cu functionalitatea faciala si dentara.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:pt-16 lg:py-12 gradient-light-indigo ">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12">
            <div class="col-span-1 space-y-8">
                <div class="max-w-md mx-auto space-y-6 lg:space-y-8">
                    <div class="flex space-x-4 md:items-start lg:space-x-6 xl:space-x-8">
                        <div class="flex-shrink-0 w-16 h-16">
                           {{ svg:idea }}
                        </div>
                        <div class="space-y-2 md:space-y-4">
                            <h4 class="font-serif text-2xl text-indigo-900 md:text-3xl lg:text-4xl">Inovația</h4>
                            <p class="text-base text-indigo-400">Îmbunatatim si infuzam cu energie vietile celor pe care ii tratam.</p>
                        </div>
                    </div>
                    <div class="flex space-x-4 md:items-start lg:space-x-6">
                        <div class="flex-shrink-0 w-16 h-16">
                            {{ svg:talent }}
                        </div>
                        <div class="space-y-2 md:space-y-4">
                            <h4 class="font-serif text-2xl text-indigo-900 md:text-3xl lg:text-4xl">Excelența</h4>
                            <p class="text-base text-indigo-400">Servicii de cea mai inalta calitate pot fi livrate doar cu efort din partea noastra, experienta cu pacientul am imbunatatit-o constant incepand cu anul 2009.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="max-w-lg mx-auto mt-16 md:-mt-36 lg:-mt-72">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-3 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture :image="image_6" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 py-12 md:grid-cols-2 gap-x-12">
            <div class="col-span-1 space-y-12 lg:space-y-16">
                <div class="md:ml-auto max-w-64 lg:max-w-sm">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture :image="image_9" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture :image="image_10" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col justify-center h-full max-w-md mx-auto mt-12 space-y-6 md:mt-0 lg:space-y-8">
                    <div class="flex space-x-4 md:items-start lg:space-x-6">
                        <div class="flex-shrink-0 w-16 h-16">
                            {{ svg:heart }}
                        </div>
                        <div class="space-y-2 md:space-y-4">
                            {{ partial:typography/h4 content="Compasiunea" }}
                            <p class="text-base text-indigo-400">Tratam nu doar pacientul ci membrul al familiei, prietenul, colegul.</p>
                        </div>
                    </div>
                    <div class="flex space-x-4 md:items-start lg:space-x-6">
                        <div class="flex-shrink-0 w-16 h-16">
                           {{ svg:deal }}
                        </div>
                        <div class="space-y-2 md:space-y-4">
                            {{ partial:typography/h4 content="Respectul" }}
                            <p class="text-base text-indigo-400">Tratam pacientul oferindu-i demnitate.</p>
                        </div>
                    </div>
                    <div class="flex space-x-4 md:items-start lg:space-x-6">
                        <div class="flex-shrink-0 w-16 h-16">
                            {{ svg:human }}
                        </div>
                        <div class="space-y-2 md:space-y-4">
                            {{ partial:typography/h4 content="Integritatea" }}
                            <p class="text-base text-indigo-400">Avem cele mai inalte standarde de profesionalism, etica si responsabilitate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
{{ /page_builder }}

