<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        <script src="{{ mix src='/js/site.js' }}" defer></script>

        {{ partial:snippets/seo }}

        {{ partial:snippets/browser_appearance }}
    </head>

    <body class="flex flex-col min-h-screen antialiased bg-white selection:bg-primary selection:text-white">
        <div class="min-h-screen">
            <div class="relative" x-data="{ mobileNavOpen: false }">
                {{ partial:snippets/noscript }}

                {{ partial:navigation/skip_to_content }}

                {{ partial:components/toolbar }}

                {{ yield:seo_body }}

                {{ partial:layout/header }}

                {{ partial:navigation/main_mobile}}

                {{ template_content }}

                {{ partial:layout/footer }}
            </div>
        </div>
    </body>
</html>
