{{#
	@name Termeni si conditii
	@desc Template Pagina Termeni si conditii utilizare site
#}}

<article class="pt-32 pb-16">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <header class="max-w-4xl mx-auto text-center">
            <p class="hidden font-bold text-center text-indigo-400 uppercase md:block"> ean clinic </p>
            {{ partial:typography/h2 as="h1" content="Termeni și condiții" }}
            <div class="mt-12 space-y-6 text-left text-indigo-900">
                <p>
                    Prin utilizarea site-ului https://www.eanclinic.ro/, sunteți de acord cu aceste condiții de utilizare. Accesul la site și utilizarea sa sunt supuse condițiilor de utilizare și legilor și regulamentelor aplicabile. Accesând și utilizând site-ul acesta, acceptați aceste condiții.
                </p>
                 <p>
                     <span class="font-bold">Proprietatea conținutului</span> – Site-ul și tot ceea ce cuprinde, inclusiv dar fără a se limita la texte și imagini, sunt în proprietatea și sub dreptul de autor (copyright) Ean Clinic, cu excepția cazului în care este specificat altfel. Este interzisă utilizarea conținutului fără permisiunea în scris a proprietarului conținutului, conform legilor cu privire la proprietatea intelectuală. Ean Clinic poate oferi utilizatorului sau clientului, la solicitarea expresă a acestuia, printr-un acord, dreptul de a utiliza sub o formă descrisă, un anumit conținut al site-ului. Acest acord se aplică strict pentru conținutul definit în prealabil, pe o perioadă stabilită și doar pentru persoana care a solicitat și căreia i s-a permis utilizarea.
                 </p>
                 <p>
                     <span class="font-bold">Utilizarea Site-ului </span>– Puteți utiliza acest site pentru folosul personal și non-comercial, descărcând conținutul doar în conformitate cu informațiile referitoare la dreptul de autor (copyright) și alte drepturi de proprietate intelectuală. Cu excepția celor menționate mai devreme, nu aveți permisiunea să distribuiți, modificați, copiați, transmiteți, expuneți, refolosiți, reproduceți, transferați, sau să folosiți conținutul fără acordul scris al Ean Clinic. Este interzisă utilizarea site-ului pentru a transmite materiale care pot constitui sau încuraja un comportament ce poate da naștere unei infracțiuni sau care încalcă legea în orice fel. Este interzisă utilizarea site-ului în scop de publicitate.
                 </p>
            </div>
        </header>
        <section class="max-w-4xl mx-auto mt-12">
            {{ partial:typography/h3 as="h2" content="Politica de Confidențialitate" }}
            <h3 class="mt-3 text-2xl font-semibold text-indigo-900 text-opacity-80">Ce date personale colectăm și de ce le colectăm</h3>
            <h4 class="mt-3 text-2xl text-indigo-900 text-opacity-80">Formulare de contact/programare</h4>
            <div class="mt-3 space-y-1.5 text-left text-indigo-900">
                <p>Orice date cu caracter personal, inclusiv dar fără a se limita la: nume, adresă, număr de telefon sau adresă de email, pe care le transmiteți pe site, prin email sau orice altă modalitate, vor fi utilizate în conformitate cu Politica de Confidențialitate.</p>
                <p>Datele dvoastră personale vor putea fi utilizate de către Ean Clinic pentru informare sau pentru a vi se răspunde la întrebările adresate în Formularul de Contact/Programare.</p>
            </div>

            <h4 class="mt-3 text-2xl text-indigo-900 text-opacity-80">Cookie-uri</h4>
            <div class="mt-3 space-y-1.5 text-left text-indigo-900">
                <p>
                    În afară de datele colectate direct, cum ar fi informațiile referitoare la nume sau adrese de email, site-ul nostru colectează informații despre dispozitivul pe care îl utilizați și care pagini ale site-ului nostru au fost accesate, cât timp, etc. Aceste ultime informații au 3 surse: fișiere server log, cookies și pixel tags.
                </p>
                <p>
                    Fișierele de pe server se referă la IP-ul dvoastră, care este logat automat în fișierele de server ori de câte ori utilizați site-ul. Ean Clinic  folosește adresele IP pentru a calcula nivelurile de utilizare ale site-ului, pentru a diagnostica probleme și pentru administrare site. Colectarea adreselor IP este o procedură standard pe internet și este utilizată de multe website-uri. Aceste date sunt o categorie distinctă față de datele cu caracter personal.
                </p>
                <p>
                    Un cookie este un fișier text care conține bucăți de date, colectate la vizitarea unui website. Sunt concepute pentru a ajuta site-urile la identificarea activității trecute a utilizatorilor, ceea ce include click-urile făcute pe linkuri sau pagini, revenirea asupra unor pagini pe parcursul a mai multor luni, etc.
                </p>
                <p>
                    Cookies sunt fișiere trimise de pe un server pe calculatorul unei persoane, sunt standard și site-urile le folosesc pentru a simplifica accesul la un website și pentru a facilita utilizarea. Cookies nu aduc nici un fel de modificări sau daune computerului sau fișierelor. Dacă nu doriți ca aceste informații să fie stocate prin cookies, majoritatea browserelor au metode simple de a permite ștergerea cookies-urilor stocate, respingerea automată a cookies sau optarea pentru acceptare sau respingere.
                </p>
                <p>
                    Pentru o mai bună înțelegere, clasificăm mai jos tipurile de cookies care sunt folosite pe acest site, astfel încât să puteți decide dacă doriți să le ștergeți sau să le dezactivați.
                </p>
                    <ul class="pl-4 list-disc list-inside">
                        <li><span class="font-semibold">  Cookies strict necesare </span>– permit navigarea pe site și utilizarea caracteristicilor acestuia. Acest tip nu colectează informații despre dvoastră care ar putea fi folosite pentru publicitare, marketing, promovarea de produse sau servicii, ori înregistrarea activității dvoastră pe internet.</li>
                        <li><span class="font-semibold">  Cookies de performanță </span>– colectează informații despre modul în care utilizate site-ul (paginile vizualizate cel mai des, etc). Nu colectează informații care să vă identifice, toate datele fiind anonime. Aceste cookies sunt folosite doar pentru îmbunătățirea modului în care funcționează site-ul.</li>
                        <li><span class="font-semibold"> Cookies de funcționalitate </span>– înregistrează alegerile și modificările făcute pe site, și oferă caracteristici de utilizare personalizate. Aceste cookies se referă strict la site-ul nostru.</li>
                        <li><span class="font-semibold">  Cookies de direcționare </span> – furnizează anunțuri sau mesaje în conformitate cu interesele dvoastră, și pot fi legate de alte site-uri (de ex, Facebook).</li>
                    </ul>

                <p class="my-2 text-lg font-bold">Ștergere Cookies</p>
                <p >
                    Dacă nu sunteți de acord cu utilizarea de cookies pe site-ul nostru, le puteți șterge urmând pașii de mai jos. Puteți de asemenea face setări astfel încât browser-ul pe care îl utilizați să blocheze cookies sau să vă avertizeze cu o notificare înainte de stocarea de cookies. Dacă ștergeți cookies, este posibil să nu puteți utiliza o parte din serviciile de pe site-urile vizitate.
                </p>
                <p class="my-2 text-lg font-bold">Procedura de ștergere automată a cookies pentru Chrome este:</p>
                <p>
                    Click pe pictograma de meniu din colțul dreapta sus (sub formă de 3 bare orizontale), selectați <span class="font-bold">Settings > Show advanced settings > Privacy </span> și apăsați pe <span class="font-bold">Content settings</span>.
                </p>
                <p>În fereastra care se deschide, sub cookies, selectați butonul <span class="font-bold">Keep local data only until you quit your browser.”</span></p>

                <p>Click pe <span class="font-bold">Done</span> în partea de jos a ferestrei.</p>

                <p>Pentru alt browser sau pentru alte setări, găsiți informații și detalii pe numeroase site-uri.</p>

                <p>Tagurile pixel adună date statistice de bază asupra folosirii site-ului și a reacțiilor, permițând numărarea vizitatorilor (în scop statistic), oferirea de servicii de brand și analizarea eficacității promoției și campaniilor de publicitate.</p>

                <p>Ean Clinic poate revizui sau actualiza aceste condiții fără notificare prealabilă, în orice moment. Pentru a lua la cunoștință Condițiile de Utilizare, trebuie consultat site-ul nostru.</p>
            </div>
            <h4 class="mt-3 text-2xl text-indigo-900 text-opacity-80">Analitice</h4>
            <h4 class="mt-3 text-2xl text-indigo-900 text-opacity-80">Google Analytics și Adwords</h4>
            <div class="mt-3 space-y-1.5 text-left text-indigo-900">
                <p>Acest site folosește Google Analytics, un serviciu de analiză web al Google Inc ( “Google”). Google Analytics folosește cookie-uri. În numele operatorului site-ului nostru, Google va utiliza aceste informații pentru a evalua utilizarea site-ului de către dvs., elaborarea de rapoarte privind activitatea site-ului și furnizarea de servicii conexe către operatorul site-ului. Puteți refuza utilizarea cookie-urilor prin modificarea setărilor browser-ului.</p>
                <p>Dacă doriți, puteți evita detectarea de Google Analytics, făcând clic pe link-ul de mai jos. Acesta va seta un cookie de renunțare, care împiedică în viitor colectarea informațiilor de pe acest site:</p>
                <a href="https://tools.google.com/dlpage/gaoptout" class="block my-2 font-bold" rel="noopener" target="_blank">https://tools.google.com/dlpage/gaoptout</a>
                <p>Folosim Google Analytics pentru a evalua datele din programul AdWords în scopuri statistice. Dacă nu doriți acest lucru, puteți gestiona preferințele ( https://adssettings.google.com/ ).</p>
            </div>
        </section>
         <section class="max-w-4xl mx-auto mt-12">
            {{ partial:typography/h3 as="h2" content="Soluționarea conflictelor" }}
            <div class="mt-3 space-y-1.5 text-left text-indigo-900">
                <p>
                    Orice conflict între Ean Clinic și Clienți va fi rezolvat pe cale amiabilă. În acest caz vă rugăm să trimiteți un email sau să sunați la numărul de contact de pe site. În cazul în care conflictul nu se rezolvă pe cale amiabilă, se vor aplica prevederile legale românești în domeniu, prima cale de soluționare fiind medierea, apoi apelarea la instanțe românești competente.
                </p>
            </div>
        </section>
    </div>
</article>
