<section class="pt-32 pb-24">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <p class="hidden font-bold text-indigo-400 uppercase md:block"> eanclinic </p>
            {{ partial:typography/h2 :content="title" }}
            <div class="mt-6 content">{{ excerpt }}</div>
        </div>
        <div class="mt-12 ">
            <div class="block overflow-hidden shadow-xl aspect-w-4 aspect-h-2 rounded-3xl">
                {{ partial:components/picture image="/assets/chirurgie-eanclinic-1.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
            </div>
        </div>
    </div>
</section>

<section class="py-16 space-y-16 bg-indigo-200 bg-opacity-20">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-x-12 gs_reveal">
            <div class="flex flex-col col-span-1 space-y-12 ">
                {{ partial:typography/h3 content="Chirurgia dento-alveolară" }}
                <p class="mt-2 leading-normal text-indigo-900 opacity-75">Chirurgia dento-alveolară permite rezolvarea unor probleme complicate ce au ca punct de plecare sistemul dento-maxilar: granuloame apicale, chisturi maxilare, molarii de minte incluși sau semiincluși, caninii incluși, extracții dentare dificile, abcese periosoase cu punct de plecare dentar, tratament chirurgical protetic, tumori benigne, chirurgia parodontală, augumentari osoase, sinus lift, etc.</p>
                <div class="relative">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-3 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-1.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
            </div>
            <div class="flex flex-col col-span-1 space-y-12">
                <div class="relative flex-shrink-0 w-full max-w-md ml-auto">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-4 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-1.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
                <div class="relative flex-shrink-0">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-3 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-1.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
            </div>
        </div>
    </div>
     <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-x-12 gs_reveal">
            <div class="flex flex-col col-span-1 -mt-24 space-y-12">
                <div class="relative flex-shrink-0 w-full max-w-md ml-auto">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-4 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-2.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
                <div class="relative flex-shrink-0">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-3 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-2.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
            </div>
            <div class="flex flex-col col-span-1 space-y-12 ">
                {{ partial:typography/h3 content="Chirurgia maxilo-facială" }}
                <p class="mt-2 leading-normal text-indigo-900 opacity-75">
                    Chirurgia maxilo-facială implica intervenții cu o amploare mai mare, cum ar fi intervenții reparatorii și plastice, fracturi în regiunea oro-maxilo-facială, tumori, suporații, etc. Aceste intervenții chirurgicale necesită spitalizare și o supraveghere mai atentă.
                </p>
                <div class="relative">
                    <div class="relative z-20 my-4 translate-x-4 shadow-xl md:my-0 md:translate-x-0 aspect-w-4 aspect-h-3 rounded-2xl">
                        {{ partial:components/picture image="/assets/chirurgie-eanclinic-3.jpeg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" class="rounded-2xl"}}
                    </div>
                    <div class="absolute top-0 left-0 z-10 w-full h-full border border-opacity-50 border-yellow-gold-900 md:-top-3 md:-left-3 rounded-2xl "></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8 lg:gap-x-12">
            <div class="max-w-4xl col-span-2 mx-auto">
                {{ partial:typography/h3 content="Procedurile stomatologice din cadrul chirurgiei orale includ:" class="text-center"}}

                <div class="mt-12 space-y-4 mansonry-procedures">
                    {{ procedures }}
                        <div class="px-3.5 py-2.5 rounded-tl-lg rounded-br-lg break-inside bg-yellow-gold-400 bg-opacity-20 shadow">
                            <p class="text-base text-primary">
                                {{ value }}
                            </p>
                        </div>
                    {{ /procedures }}
                </div>
            </div>
        </div>
    </div>
</section>



