{{#
	@name Endodotie
	@desc Template Pagina servicii/endodontie
#}}


<section class="pt-32">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <p class="hidden font-bold text-indigo-400 uppercase md:block"> ean clinic </p>
            {{ partial:typography/h2 :content="title" }}
            <div class="mt-6 content">
                <p>{{ excerpt }}</p>
            </div>
        </div>
    </div>
</section>

<section class="py-6 lg:py-12 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 ">
            <div class="order-2 col-span-1 mt-12 space-y-12 md:mt-0 md:order-1 lg:space-y-16 ">
                <div class="md:ml-auto md:max-w-64 lg:max-w-sm ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
            <div class="order-1 col-span-1 md:order-2 delayed-section">
                <div class="flex flex-col pt-8 space-y-6 md:pt-16 lg:pt-24 lg:space-y-8 text-wrapper">

                    {{ partial:typography/h3 content="Ce este tratamentul de canal?" }}

                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Tratamentul de canal (sau endodontic) se referă la terapia stomatologică a unui dinte cu inflamație pulpară, în scopul vindecării bolilor pulpei dentare (nervului) și păstrării lui în cavitatea orală.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                       Inflamația pulpară apare în urma agresiunii dintelui cauzată de carii profunde, obturații coronare (plombe) întinse, fracturi sau fisuri în smalț, sau ca urmare a unor traumatisme suferite de dinte. Dacă nu se instituie un tratament endodontic complet și complex, dintele trebuie extras, el constituind o sursă de durere și un focar de infecție pentru organism.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Înainte de extracția dintelui trebuie epuizate absolut toate variantele de a-l salva. Așadar, scopul tratamentului de canal este de a ajuta pacienții să își păstreze dinții naturali.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Amânarea vizitelor la medic face ca avansarea leziunilor carioase să devină din ce în ce mai greu de remediat și tratat. Acest lucru duce la pierderea dinților, ceea ce poate avea o suită de consecințe neplăcute, despre care puteți citi pe blogul nostru.
                    </p>
                </div>
            </div>
        </div>
         <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 ">
            <div class="col-span-1 delayed-section">
                <div class="flex flex-col pt-8 space-y-6 md:pt-16 lg:pt-24 lg:space-y-8 text-wrapper">

                    {{ partial:typography/h3 content="În ce constă tratamentul de canal asistat de microscop?" }}

                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Endodonția clasică poate avea anumite neajunsuri, cauzate de lipsa vizibilității și utilizării exclusive a simțului tactil. Însă tehnologia de ultimă generație a introdus microscopul operator în medicina dentară, revoluționând astfel acest domeniu.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Microscopul a venit în ajutorul medicilor specialiști, confirmand citatul marelui medic endodont Prof. Dr. S. Kim” You can’t treat what you can’t see” (”Nu poți trata decât ceea ce vezi”).
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Microscopul s-a dovedit a fi util în vizualizarea mult mai bună a complexității anatomiei dentare, în tratamentul dinților cu acces dificil, la găsirea canalelor suplimentare, la îndepărtarea instrumentelor fracturate pe canal, în instrumentarea canalelor calcificate, lucruri care sunt foarte dificil de detectat prin metode tradiționale de tratament.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Microscopul ajută medicul să vizualizeze canalele radiculare la măriri de la 3,5 la 20 de ori și prin iluminarea câmpului operator cu lumină de înaltă intensitate.
                    </p>
                </div>
            </div>
            <div class="col-span-1 mt-12 space-y-12 md:mt-0 lg:space-y-16 ">
                <div class="md:ml-auto md:max-w-64 lg:max-w-sm ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-4 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-12 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8 lg:gap-x-12">
            <div class="max-w-4xl col-span-2 mx-auto">
                {{ partial:typography/h3 content="Avantajele tratamentului endodontic realizat la microscopul dentar" class="text-center"}}

                <div class="grid grid-cols-2 gap-6 mt-12">
                    {{ advantages }}
                        <div class="flex flex-col justify-center max-w-md px-3.5 py-2.5 rounded-tl-lg rounded-br-lg break-inside bg-indigo-400 bg-opacity-20 shadow-lg">
                            <p class="text-lg text-center text-primary">
                                {{ value }}
                            </p>
                        </div>
                    {{ /advantages }}
                </div>
            </div>
        </div>
    </div>
</section>


{{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
{{ /page_builder }}
