{{#
	@name Estetica faciala
	@desc Template Pagina servicii/estetica faciala
#}}

<section class="pt-32">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <p class="hidden font-bold text-indigo-400 uppercase md:block"> ean clinic </p>
            {{ partial:typography/h1 :content="title" }}
            <div class="mt-6 content">
                <p>{{ excerpt }}</p>
            </div>
        </div>
    </div>
</section>

<section class="py-16 lg:px-12">
    <div class="relative max-w-screen-xl px-4 mx-auto space-y-8 lg:space-y-16 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 py-8 shadow-2xl md:py-12 md:grid-cols-2 bg-yellow-gold-400 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1 px-8 md:px-0">
                <div class="relative overflow-hidden md:-translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div
            class="flex flex-col justify-center col-span-1 p-8 md:pr-12">
                {{ partial:typography/h3 content="Mărire buze / corecție asimetrie " }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Procedura de augmentare a buzelor este o metodă simplă de înfrumusețare sau de retușare. Practic, se injectează acid hialuronic pentru a se obține buze senzuale, puțin mai voluminoase sau pentru a face ca buzele să fie proporționale sau simetrice.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Procedura este de scurtă durată și nu necesită pregătiri speciale, dar este necesar un consult cu medicul înainte de procedură. Efectele se mențin câteva luni.
                     </p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 py-8 shadow-2xl md:py-12 md:grid-cols-2 rounded-3xl gs_reveal bg-yellow-gold-400 bg-opacity-20">

            <div class="flex flex-col justify-center order-2 col-span-1 p-8 md:order-1 md:p-0 md:pl-12">

                {{ partial:typography/h3 content="Reconturare facial/mandibulară " }}

                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                         Reconturarea este o procedură minim invazivă care constă în injectarea de acid hialuronic pentru a reface trăsăturile și a îmbunătăți aspectul prin modificarea conturului facial.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Este o procedură rapidă (cu durata de până la jumătate de oră), nedureroasă  și cu rezultate imediate care se mențin o perioadă îndelungată (chiar până la 18 luni).
                     </p>
                </div>
            </div>
            <div class="order-1 col-span-1 px-8 md:px-0 md:order-2">
                <div class="relative overflow-hidden md:translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1567516364473-233c4b6fcfbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 pb-8 bg-indigo-400 shadow-2xl md:py-12 md:grid-cols-2 rounded-3xl gs_reveal bg-opacity-20 ">
            <div class="col-span-1 p-8 md:px-0">
                <div class="relative overflow-hidden md:-translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1525222285365-d6bfe94ec598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
            <div
            class="flex flex-col justify-center col-span-1 p-8 md:p-0 md:pr-12">
                {{ partial:typography/h3 content="Terapia Vampir (PRP)" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                         Terapia Vampir este un tratamentul cu plasmă proprie îmbogățită cu trombocite. Procedura presupune recoltarea unei mici cantități din sângele pacientului într-o eprubetă specială, care apoi este centrifugată.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                          În final se extrage fracția activată de plachete sangvine, alături de factori de creștere și regenerare tisulară. Înainte de intervenție sunt necesare evaluarea stării de sănătate și câteva analize medicale.
                     </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center ">
            {{ partial:typography/h2 content="Ce ne recomandă?" }}
        </div>
        <div class="grid grid-cols-1 mt-8 md:mt-12 md:grid-cols-2 xl:grid-cols-4 gap-y-8 gap-x-12">
            <div class="col-span-1">
                <h4 class="font-serif text-2xl text-indigo-900"> Empatie</h4>
                <p class="mt-2 text-indigo-900 text-opacity-75 md:mt-4">
                    Înțelegem că fiecare caz este unic și fiecare pacient este un om, nu doar o sumă a unor patologii pe care trebuie să le remediem.
                </p>
            </div>
            <div class="col-span-1">
                <h4 class="font-serif text-2xl text-indigo-900">Profesionalism</h4>
                <p class="mt-2 text-indigo-900 text-opacity-75 md:mt-4">
                    Cazurile sunt abordate cu profesionalism, atât în conceperea planului de tratament cât și în discuțiile cu pacienții și alegerea soluțiilor potrivite.
                </p>
            </div>
            <div class="col-span-1">
                <h4 class="font-serif text-2xl text-indigo-900">Perfectiune</h4>
                <p class="mt-2 text-indigo-900 text-opacity-75 md:mt-4">
                    Simetrie, armonie, echilibru, funcționalitate optimă, toate acestea sunt criterii care împreună formează perfecțiunea – așa cum poate fi ea realizată pentru fiecare pacient în parte.
                </p>
            </div>
            <div class="col-span-1">
                <h4 class="font-serif text-2xl text-indigo-900">Comunicare</h4>
                <p class="mt-2 text-indigo-900 text-opacity-75 md:mt-4">
                    Comunicarea transparentă și clară este esențială atât între colegi cât și între medici și pacienți, motiv pentru care este una din valorile de bază ale clinicii.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-24 lg:px-16">
    <div class="relative max-w-screen-xl px-4 mx-auto space-y-8 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 py-8 bg-indigo-400 shadow-2xl md:grid-cols-2 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1 px-8 md:px-0">
                <div class="relative overflow-hidden md:-translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-1 p-8 md:p-0 md:pr-12">
                {{ partial:typography/h3 content="Ștergerea ridurilor de pe gât cu fire PDO" }}

                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Pielea de pe gât își pierde elasticitatea și fermitatea odată cu trecerea timpului, adesea fiind mai afectată decât tenul. Dar, cu ajutorul a 30-40 de fire, efectul de remediere va fi spectaculos.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                          Intervenția este de scurtă durată (aproximativ jumătate de oră) și nedureroasă (se folosește cremă anestezică).
                     </p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 py-8 shadow-2xl md:grid-cols-2 rounded-3xl gs_reveal bg-yellow-gold-400 bg-opacity-20">
            <div class="flex flex-col justify-center order-2 col-span-1 p-8 md:p-0 md:pl-12 md:order-1">

                {{ partial:typography/h3 content="Reconstituire mandibulară cu fire de suspensie " }}

                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Reconstituirea mandibulară cu fire de suspensie este o procedură non-invazivă, sub anestezie locală, care are ca scop repoziționarea și remodelarea volumelor feței, ajutând în același timp la creșterea elasticității prin regenerarea colagenului.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Această tehnică se realizează cu fire de suspensie (în general se folosesc 6 fire de 6 cm), care conferă un aspect armonios al profilului ce se menține cel puțin 12 luni.
                     </p>
                </div>
            </div>
            <div class="order-1 col-span-1 px-8 md:px-0 md:order-2">
                <div class="relative overflow-hidden md:translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1567516364473-233c4b6fcfbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 py-12 shadow-2xl md:grid-cols-2 bg-yellow-gold-400 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1 px-4 md:px-0">
                <div class="relative overflow-hidden md:-translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-1 p-8 md:p-0 md:pr-12">
                {{ partial:typography/h3 content="Estompare/ștergere riduri" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Ridurile și pielea uscată pot fi diminuate printr-o tehnică minim invazivă: injectarea de acid hialuronic. Se pot corecta astfel ridurile periorale ( situate deasupra buzei superioare), cauzate de fumat, expunere frecventă la soare sau încrețirea repetată a buzelor, șanțurile nazogeniene ( ridurile care se întind de la aripa nazală la colțul gurii), accentuate în urma expresiilor faciale repetate, a pierderii volumului facial sau ca urmare a scăderii producției de colagen și elastină și ridurile de pe gât (cauzate de trecerea timpului și expunere la soare).
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Procedurile sunt nedureroase și rapide (aproximativ jumătate de oră).
                     </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</section>

