<section class="pt-32">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <p class="hidden font-bold text-indigo-400 uppercase md:block"> eanclinic </p>
            {{ partial:typography/h2 :content="title" }}
            <div class="mt-6 content">{{ excerpt }}</div>
        </div>
    </div>
</section>

<section class="px-16 py-24 space-y-16">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 shadow-2xl bg-yellow-gold-400 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1">
                <div class="relative overflow-hidden -translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div
            class="flex flex-col justify-center col-span-1 pr-12">
                {{ partial:typography/h3 content="Mărire buze" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Procedura de augmentare a buzelor este din ce în ce mai populară, și fiind minim-invazivă, este o metodă simplă de înfrumusețare sau de retușare.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Practic, se injectează acid hialuronic pentru a se obține buze senzuale, puțin mai voluminoase. Procedura este de scurtă durată și nu necesită pregătiri speciale, dar este necesar un consult cu medicul înainte de procedură.
                     </p>
                     <p class="text-indigo-900 opacity-75">
                         Posibilele reacții adverse ar fi hematoamele și echimozele.
                     </p>
                </div>
            </div>
        </div>
    </div>
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 shadow-2xl rounded-3xl gs_reveal bg-yellow-gold-400 bg-opacity-20">
            <div class="flex flex-col justify-center col-span-1 pl-12">
                {{ partial:typography/h3 content="Corecție asimetrie buze" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Acidul hialuronic poate fi folosit și pentru corectarea buzelor, procedură care modifică mai puțin fizionomia , având doar scopul de a face ca buzele să fie proporționale sau simetrice.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Se vor face injectări în puncte specifice, care să refacă proporțiile buzelor și să asigure un aspect plăcut. Procedura este de scurtă durată și efectele se mențin câteva luni.
                     </p>
                </div>
            </div>
            <div class="col-span-1">
                <div class="relative overflow-hidden translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1567516364473-233c4b6fcfbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 bg-indigo-400 shadow-2xl rounded-3xl gs_reveal bg-opacity-20 ">
            <div class="col-span-1">
                <div class="relative overflow-hidden -translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1525222285365-d6bfe94ec598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
            <div
            class="flex flex-col justify-center col-span-1 pr-12">
                {{ partial:typography/h3 content="Mărire pomeți" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Volumizarea pomeților este indicată pentru refacerea conturului facial și pentru echilibrarea proporțiilor sau ștergerea urmelor lăsate de ani.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         În general este necesară o cantitate foarte mică, această zonă fiind ușor de evidențiat. Procedura este de scurtă durată (până la jumătate de oră), efectul este vizibil imediat și are o remanență mai mare decât în cazul buzelor.
                     </p>
                </div>
            </div>
        </div>
        <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
            <div class="grid grid-cols-2 py-12 shadow-2xl rounded-3xl gs_reveal bg-yellow-gold-400 bg-opacity-20">
                <div class="flex flex-col justify-center col-span-1 pl-12">
                    {{ partial:typography/h3 content="Reconturare facial/mandibulară" }}
                    <div class="mt-4 space-y-4">
                        <p class="text-indigo-900 opacity-75">
                            Reconturarea este o procedură minim invazivă care constă în injectarea de acid hialuronic pentru a reface trăsăturile și a îmbunătăți aspectul prin modificarea conturului facial. Fiecare caz este diferit, motiv pentru care uneori poate fi necesară o cantitate mai mare de substanță.
                        </p>
                        <p class="text-indigo-900 opacity-75">
                            Reconturarea facial-mandibulară este o procedură rapidă (cu durata de până la jumătate de oră), nedureroasă și cu rezultate imediate care se mențin o perioadă îndelungată (chiar până la 18 luni).
                        </p>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="relative overflow-hidden translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                        <img src="https://images.unsplash.com/photo-1567516364473-233c4b6fcfbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 bg-indigo-900 md:py-8 lg:py-16">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center ">
            {{ partial:typography/h2 content="Ce ne recomandă?" color="text-white" }}
        </div>
        <div class="grid grid-cols-1 mt-8 text-center md:mt-12 md:grid-cols-2 xl:grid-cols-4 gap-y-8 gap-x-12 md:text-left">
            <div class="col-span-1 text-center">
                <h4 class="font-serif text-2xl text-white">Experienta</h4>
                <p class="mt-2 text-white text-opacity-80 md:mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-span-1 text-center">
                <h4 class="font-serif text-2xl text-white">Profesionalism</h4>
                <p class="mt-2 text-white text-opacity-80 md:mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-span-1 text-center">
                <h4 class="font-serif text-2xl text-white">Perfectiune</h4>
                <p class="mt-2 text-white text-opacity-80 md:mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-span-1 text-center">
                <h4 class="font-serif text-2xl text-white">Empatie</h4>
                <p class="mt-2 text-white text-opacity-80 md:mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>

<section class="px-16 py-24 space-y-16">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 shadow-2xl bg-yellow-gold-400 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1">
                <div class="relative overflow-hidden -translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-1 pr-12">
                {{ partial:typography/h3 content="Estompare riduri" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Ridurile și pielea uscată sunt consecințe firești ale trecerii timpului, însă prin tehnică minim invazivă, acestea pot fi diminuate, scopul fiind obținerea unui aspect sănătos, hidratat, regenerat al pielii.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Estomparea ridurilor se realizează prin injectarea de acid hialuronic.
                     </p>
                </div>
            </div>
        </div>
    </div>
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 shadow-2xl rounded-3xl gs_reveal bg-yellow-gold-400 bg-opacity-20">
            <div class="flex flex-col justify-center col-span-1 pl-12">
                {{ partial:typography/h3 content="Ștergere riduri periorale" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Ridurile periorale sunt situate deasupra buzei superioare, și sunt cauzate de fumat, expunere frecventă la soare sau încrețirea repetată a buzelor.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Tratamentul constă în injectare unor cantități mici de acid hialuronic, procedură nedureroasă, de scurtă durată și cu rezultate vizibile.
                     </p>
                      <p class="text-indigo-900 opacity-75">
                          Efectele adverse constau în edeme și echimoze, care dispar la scurt timp după.
                      </p>
                </div>
            </div>
            <div class="col-span-1">
                <div class="relative overflow-hidden translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1567516364473-233c4b6fcfbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&h=1200&q=80" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 py-12 shadow-2xl bg-yellow-gold-400 bg-opacity-20 rounded-3xl gs_reveal">
            <div class="col-span-1">
                <div class="relative overflow-hidden -translate-x-12 aspect-w-4 aspect-h-4 rounded-3xl">
                    <img src="https://images.unsplash.com/photo-1599566219227-2efe0c9b7f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNtaWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&h=800&q=60" alt="">
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-1 pr-12">
                {{ partial:typography/h3 content="Estompare riduri" }}
                <div class="mt-4 space-y-4">
                    <p class="text-indigo-900 opacity-75">
                        Ridurile și pielea uscată sunt consecințe firești ale trecerii timpului, însă prin tehnică minim invazivă, acestea pot fi diminuate, scopul fiind obținerea unui aspect sănătos, hidratat, regenerat al pielii.
                    </p>
                     <p class="text-indigo-900 opacity-75">
                         Estomparea ridurilor se realizează prin injectarea de acid hialuronic.
                     </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</section>

