{{#
	@name Implantologie
	@desc Template Pagina servicii/implantologie
#}}

<section class="pt-32">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto text-center">
            <p class="hidden font-bold text-indigo-400 uppercase md:block"> ean clinic </p>
            {{ partial:typography/h2 as="h1" :content="title" }}
            <div class="mt-6 content">{{ excerpt}}</div>
        </div>
    </div>
</section>

<section class="py-6 lg:py-12 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 ">
            <div class="order-2 col-span-1 mt-12 space-y-12 md:mt-0 md:order-1">
                <div class="md:ml-auto md:max-w-64 lg:max-w-sm ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/eanclinic-implantologie-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/eanclinic-chirurgie-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
            <div class="order-1 col-span-1 md:order-2 delayed-section">
                <div class="flex flex-col pt-8 space-y-6 md:pt-16 lg:pt-24 lg:space-y-8 text-wrapper">

                    {{ partial:typography/h3 as="h2" content="Chirurgia dento-alveolară și oro-maxilo-facială " }}

                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Chirurgia dento-alveolară și oro-maxilo-facială redau funcțiile și estetica, astfel încât pacienții să aibă cel mai bun rezultat posibil și o dantură frumoasă, armonioasă, cu un aspect natural.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Îmi plac provocările, așa că sunt dedicat cazurilor mai dificile, cu retracție osoasă accentuată, care îmi pun la încercare aptitudinile și experiența.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Vreau să le ofer pacienților care și-au pierdut speranța o șansă în plus și încrederea că își vor putea recăpăta funcțiile în totalitate.
                    </p>
                </div>
            </div>
        </div>
         <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 ">
            <div class="col-span-1 delayed-section">
                <div class="flex flex-col pt-8 space-y-6 md:pt-16 lg:pt-24 lg:space-y-8 text-wrapper">

                    {{ partial:typography/h3 as="h2" content="Implanturile dentare" }}

                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        Există numeroase argumente care vin în sprijinul alegerii implanturilor dentare. În primul rând, prin inserția de implanturi se oprește sau, dacă se acționează la timp, se previne resorbția osoasă. De asemenea, pot fi prevenite migrația dinților învecinați și antagoniști și retracția gingiei. În plus, prin alegerea acestei soluții este protejată dantura existentă, deoarece nu sunt necesare intervenții asupra dinților sănătoși.
                    </p>
                    <p class="mt-6 font-normal text-indigo-400 xl:mt-8">
                        De multe ori, intervențiile chirurgicale pentru inserarea implanturilor sunt ușoare, însă există cazuri speciale, complexe, care necesită și mai multă pregătire, implanturi personalizate și creativitate.
                    </p>
                </div>
            </div>
            <div class="col-span-1 mt-12 space-y-12 md:mt-0 ">
                <div class="md:mr-auto md:max-w-64 lg:max-w-sm ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/eanclinic-implantologie-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="max-w-md mx-auto ">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/eanclinic-implantologie-2.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="col-span-1">
                 <div class="block max-w-md mx-auto overflow-hidden shadow-xl aspect-w-4 aspect-h-4 rounded-3xl">
                    {{ partial:components/picture image="/assets/dr-emanuel-anti.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-1">
                <div class="relative mx-auto max-w-prose lg:mt-0 lg:max-w-none">
                    <blockquote class="relative">
                        <div class="px-6 py-8 rounded-t-lg sm:px-10 sm:pt-10 sm:pb-4">
                            <div class="relative mt-8">
                                <svg class="absolute top-0 left-0 w-10 h-10 text-gray-200 transform -translate-x-3 -translate-y-4" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                </svg>
                                <p class="relative font-sans text-xl leading-relaxed text-indigo-900">
                                    Îmi plac provocările, așa că sunt dedicat cazurilor mai dificile, cu retracție osoasă accentuată, care îmi pun la încercare aptitudinile și experiența.
                                    </p>
                                <p class="relative mt-3 font-sans text-xl leading-relaxed text-indigo-900">
                                    Vreau să le ofer pacienților care și-au pierdut speranța o șansă în plus și încrederea că își vor putea recăpăta funcțiile în totalitate.
                                </p>
                            </div>
                        </div>
                        <cite class="relative flex items-center py-5 not-italic rounded-b-lg sm:items-start">
                            <span class="relative px-6 font-semibold leading-6 text-indigo-400 sm:px-10">
                                <p class="font-semibold text-indigo-900 sm:inline">Emanuel Anti</p>
                                <p class="text-sm font-light text-yellow-gold-900">Doctor specialist chirurgie maxilo-faciala</p>
                            </span>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">

    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto mb-24 text-center">
            {{ partial:typography/h4 content="Care sunt etapele care trebuie parcurse pentru a ajunge la un zâmbet frumos și complet?"}}
        </div>
    </div>

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</section>
