{{#
    @name Service Preview
    @desc For use in services page
#}}

<div class="grid grid-cols-1 pr-4 md:pr-0 md:grid-cols-2 gap-y-8 gap-x-16">

    <div class="relative w-full col-span-1 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl
        {{ index % 2  == 0 ? 'md:order-1' : 'md:order-2' }}
    ">

        <div class="m-3 relative z-20 overflow-hidden translate-x-4 shadow-xl gs_revealmd:my-0 md:translate-x-0 aspect-w-4 aspect-h-3 rounded-3xl
                    {{ index % 2  == 0 ? 'gs_reveal gs_reveal_fromRight' : 'gs_reveal gs_reveal_fromLeft' }}
        ">
            {{ partial:components/figure :image="imagine" size="md" }}
        </div>

        <div class="absolute top-0 left-0 z-10 w-full h-full border border-indigo-400 rounded-3xl
                {{ index % 2  == 0 ? 'gs_reveal gs_reveal_fromRight' : 'gs_reveal gs_reveal_fromLeft' }}"></div>
    </div>

    <div class="col-span-1 px-4 sm:px-8 md:-mx-4
            {{ index % 2  == 0 ? 'md:order-2' : 'md:order-1' }}
    ">
        <div class="flex flex-col justify-center h-full
            {{ index % 2  == 0 ? 'text-left items-start' : 'text-right items-end' }}
        ">

            {{ partial:typography/h3 :content="title" }}

            <div class="mt-6 md:max-w-xs xl:mt-8 lg:max-w-sm xl:max-w-md content">{{ excerpt}}</div>

            <a href="{{ url }}" class="inline-flex items-center px-5 py-2 mt-4 -mx-5 text-sm font-bold uppercase md:mt-8 lg:mt-10 xl:mt-12 0 xl:text-base">
                află mai multe
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2.5 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
    </div>
</div>
