<div class="p-1 transition-colors duration-300 ease-in-out md:p-2">
    <dt class="mr-8 text-lg md:mr-0">
        <button
            @click="currentQ = {{ index }}"
            type="button"
            :class="{'text-white bg-gradient-to-r from-yellow-gold-400 to-yellow-gold-900' : currentQ === {{ index }}, 'border border-indigo-200 text-indigo-400' : ( currentQ !== {{ index }})  }"
            class="inline-flex justify-start w-full max-w-md px-4 py-2 overflow-hidden text-sm text-left outline-none focus:outline-none rounded-tl-3xl rounded-r-3xl"
            aria-controls="currentQ-{{ index }}"
            :aria-expanded="currentQ === {{ index }}">
            <span>
                {{ question }}
            </span>
        </button>
    </dt>
    <dd
        :class="{ 'block' : currentQ === {{ index }}, 'hidden' : currentQ !== {{ index }} }"
        class="ml-8 md:ml-0 mt-2.5 px-4 py-5 bg-indigo-900 rounded-l-3xl rounded-tr-3xl shadow-xl " id="faq-0">
        <div class="text-sm text-white opacity-90 transition-all duration-300 ease-in-out space-y-2.5 ">
            {{ answer }}
        </div>
    </dd>
</div>
