{{#
	@name Header
	@desc The sites header rendered on each page.
#}}
<header
    :class="{'fixed' : mobileNavOpen === true }"
    class="absolute top-0 left-0 z-50 w-full mt-4 site-header md:mt-6">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="relative w-full">
            <div class="flex items-center justify-between">
                <div
                    class="max-w-sm">
                    <h1 class="sr-only">{{ config('settings.site_name') }}</h1>
                    {{ partial:components/logo_header }}

                </div>

                <div class="justify-end flex-1 hidden pl-12 lg:flex">
                    {{ partial:navigation/main_desktop }}
                </div>

                <button
                    @click="mobileNavOpen = !mobileNavOpen; document.querySelector('.primary-nav-toggle').classList.toggle('is-open');  document.querySelector('body').classList.toggle('nav-is-open')"
                    type="button"
                    class="primary-nav-toggle js-mobile-nav-toggle"
                    aria-controls="mobile-menu"
                    aria-expanded="false">
                    <span></span>
                </button>

            </div>

        </div>
    </div>
</header>
