{{#
	@name History
	@desc Sectiune istoric full face recovery
#}}

<section class="py-6 md:pt-16 lg:py-12 gradient-light-indigo ">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-5 md:gap-x-12">
            <div class="col-span-3 space-y-8">
                <div class="max-w-lg mx-auto space-y-6 lg:space-y-8">
                    {{ partial:typography/h3 content="Full Face Recovery este un concept unic, pornit din pasiune "}}

                    <div class="space-y-2 md:space-y-4">
                        <p class="text-base text-indigo-400">
                            Am studiat foarte mult atât în facultate, cât și în rezidențiat și la cursuri internaționale, și am experiență în spitale private și de stat, și în clinici, de peste 10 ani! Am văzut numeroși pacienți, foarte multe cazuri, de la unele simple la unele extrem de complexe. Am avut ocazia să le tratez și să descopăr, pe parcurs, că îmi doresc mai mult decât chirurgie cu un singur scop: îndepărtarea problemelor.
                        </p>
                        <p class="text-base text-indigo-400">
                            Încă din perioada rezidențiatului, dorința și pasiunea pentru estetică au început să se facă simțite. Chiar și profesorii au observat timpul petrecut pentru o sutură mică, și dorința de a oferi nu doar tratament, cât și recuperare frumoasă și cu cicatrici cât mai puțin vizibile.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-span-2 mt-8 md:mt-0">
                <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-3 aspect-h-4 rounded-3xl">
                    {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 py-12 md:grid-cols-2 gap-x-12">
            <div class="col-span-1 space-y-12 lg:space-y-16">
                <div class="md:ml-auto md:max-w-64 lg:max-w-sm">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
                <div class="mx-auto lg:max-w-md">
                    <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-4 aspect-h-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col justify-center h-full max-w-md mx-auto mt-12 space-y-6 md:mt-0 lg:space-y-8">
                    <div class="max-w-lg mx-auto space-y-6 lg:space-y-8">
                        {{ partial:typography/h3 content="Accentul pe vindecare, tratament și rezolvarea părții funcționale"}}

                        <div class="space-y-2 md:space-y-4">
                            <p class="text-base text-indigo-400">
                                În școală și în practică se pune accentul pe vindecare, tratament și rezolvarea părții funcționale, lucruri absolut firești și necesare. Însă dincolo de acestea, rămân dorința și nevoia pacientului de a se simți bine cu sine. Eliminarea unei tumori rezolvă partea funcțională, însă consecințele patologiei pot include probleme de estetică (asimetrii, tegument uscat, etc) și cicatricea post-operatorie. Adesea, în chirurgia oro-maxilo-facială, acestea sunt considerare efecte secundare nedorite și sunt puse pe planul al doilea.
                            </p>
                            <p class="text-base text-indigo-400">
                                Tocmai acest lucru m-a inspirat și motivat să creez conceptul de Full Face Recovery, în care atât partea funcțională cât și cea estetică să aibă aceeași importanță.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-5 md:gap-x-12">
            <div class="order-2 col-span-3 space-y-8 md:order-1">
                <div class="max-w-lg mx-auto space-y-6 lg:space-y-8">
                    {{ partial:typography/h3 content="Problemele de sănătate ale pacienților se extind dincolo de evidență"}}

                    <div class="space-y-2 md:space-y-4">
                        <p class="text-base text-indigo-400">
                            Consider că problemele de sănătate ale pacienților se extind dincolo de evidență, și că o recuperare frumoasă și redobândirea trăsăturilor naturale și armonioase contribuie la o vindecare mai bună, atât fizică cât și psihică, și la încredere în sine sporită.
                        </p>
                        <p class="text-base text-indigo-400">
                            Am concentrat experiența mea, pasiunea pentru estetică și frumos și dorința de a oferi tratament complet într-un concept unic, de care sunt mândru și care sper să schimbe cât mai multe vieți în bine.
                        </p>
                         <p class="font-serif text-lg font-bold text-indigo-900">
                                Full Face Recovery înseamnă sănătate și armonie. <br />Este proiectul care îmi aduce satisfacție pentru că a pornit din pasiune și există și va continua pentru a oferi frumusețe și echilibru.
                         </p>
                    </div>
                </div>
            </div>
            <div class="order-1 col-span-2 mt-8 md:mt-0 md:order-2 mt8">
                <div class="block overflow-hidden shadow-xl gs_reveal aspect-w-3 aspect-h-4 rounded-3xl">
                    {{ partial:components/picture image="/assets/endodontie-eanclinic-1.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                </div>
            </div>
        </div>
    </div>
</section>
