<section class="py-6 md:py-8 lg:py-12 xl:py-16 gradient-light-indigo">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8 lg:gap-x-12">
            <div class="col-span-1">
                <h3 class="font-serif text-4xl font-normal text-center text-indigo-900 md:text-3xl lg:text-4xl xl:text-6xl md:text-left">Cum te <br/>putem ajuta?</h3>

                {{ collection:services as="services" }}
                    <div class="grid grid-cols-1 mt-12 md:grid-cols-2 gap-x-4 gap-y-4 lg:gap-x-8 lg:gap-y-8">
                        {{ services }}
                            {{ partial:components/service_cell :title="title" :content="excerpt" }}
                        {{ /services }}
                    </div>
                {{ /collection:services }}

                <p class="max-w-md mt-8 text-center text-indigo-400 md:text-left 2xl:text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eligendi excepturi facere illo libero sint vero. Aut inventore nisi quia.</p>
            </div>

            <div class="col-span-1">
                <div class="max-w-lg mt-12 ml-auto md:mt-0 2xl:max-w-2xl">
                    <div class="block overflow-hidden shadow-xl aspect-h-4 aspect-w-3 rounded-3xl">
                        {{ partial:components/picture image="/assets/eanclinic-face-1_600x.jpg" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
                    </div>

                    <div class="px-6 mt-8 text-center">
                        <blockquote class="font-serif text-2xl text-indigo-900 ">
                            "Medicina este știința, arta și conștiința încălzite de iubirea față de oameni."
                        </blockquote>
                        <p class="mt-3 text-lg font-normal text-indigo-900">Iuliu Hateganu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
