{{#
	@name Main desktop navigation
	@desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<nav class="hidden md:block" role="navigation">
    <ul class="flex items-center justify-end space-x-2.5 xl:space-x-4">
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                    @keyup.escape.window="subnavOpen = false"
                    x-cloak
                {{ /if }}
                class="relative leading-none"
            >
                <a
                    class=" relative flex items-center py-1.5 after:block after:absolute after:-bottom-px after:w-full after:h-1 after:rounded  border-transparent md:text-sm focus:outline-none focus:text-indigo-900 focus:border-indigo-400 transition duration-150 ease-in-out focus:outline-none focus-visible:ring-2 ring-primary
                        {{ is_current && is_parent
                            ? 'after:bg-orange-300 text-indigo-900 hover:text-indigo-400 font-bold'
                            : 'after:bg-transparent text-indigo-400 hover:text-indigo-900 ' }}
                    "
                    {{ if children }}
                        href="#"
                        @click.prevent="subnavOpen = !subnavOpen"
                        :aria-label="subnavOpen
                            ? '{{ trans:strings.subnav_close }}'
                            : '{{ trans:strings.subnav_open }}'"
                        :aria-expanded="subnavOpen"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                    {{ if children }}
                        <svg
                            class="w-4 h-4 mr-1 overflow-visible text-indigo-400"
                            :class="{ 'rotate-180': subnavOpen }"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    {{ /if }}

                    {{ title }}

                </a>
                {{ if children }}
                    <ul
                        x-show="subnavOpen"
                        x-trap="subnavOpen"
                        class="absolute px-3 py-2 mt-2 -ml-3 bg-white border rounded-lg shadow border-neutral/10"
                        @click.outside="subnavOpen = false"
                        x-transition
                    >
                        {{ children }}
                            <li class="">
                                <a
                                    class="
                                        whitespace-nowrap py-2 px-1 -mx-1 block text-sm font-medium focus:outline-none focus-visible:ring-2 ring-primary hover:text-yellow-gold-900
                                        {{ is_current || is_parent
                                            ? 'text-primary font-bold'
                                            : 'text-neutral' }}
                                    "
                                    href="{{ url }}"
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
    </ul>
</nav>
