{{#
	@name Main mobile navigation
	@desc The sites main mobile navigation rendered on each page. It is 2 levels deep by default and uses AlpineJS for interactivity.
#}}


<div
    x-show="mobileNavOpen"
    x-trasnsition.opacity.200
    x-cloak
    class="fixed inset-0 z-40 h-screen lg:hidden" >

    <img src="/assets/body-bg.png" class="absolute top-0 left-0 z-20 min-w-full min-h-full opacity-100 max-w-none filter grayscale" alt="background image">

    <div class="absolute inset-0 z-50 w-full h-full pt-32 overflow-y-auto transition duration-200 ease-in bg-white opacity-100 bg-opacity-90">
        <div class="relative w-full h-full px-4 mx-auto overflow-y-auto first-line:max-w-screen-xl 2xl:max-w-screen-2xl sm:px-6 lg:px-8 ">
            <nav class="h-full md:hidden" role="navigation">

                <div
                    class="relative z-10 flex flex-col justify-end px-8 pt-8 pb-12"
                    x-show="mobileNavOpen"
                    x-trap.inert.noscroll="mobileNavOpen"
                    x-cloak
                >
                    <ul class="flex flex-col py-2 space-y-8 overflow-auto">
                        {{ nav:main max_depth="2" include_home="true" }}
                            <li
                                {{ if children }}
                                    x-data="{ mobileNavSubnavOpen: false }"
                                {{ /if }}
                                class="leading-none"
                            >
                                <a
                                    class="w-full flex items-center space-x-1 text-2xl font-bold uppercase tracking-wide hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                                    {{ if children }}
                                        href="#"
                                        @click.prevent="mobileNavSubnavOpen = !mobileNavSubnavOpen"
                                        @click.outside="mobileNavSubnavOpen = false"
                                        :aria-label="mobileNavSubnavOpen
                                            ? '{{ trans:strings.subnav_close }}'
                                            : '{{ trans:strings.subnav_open }}'"
                                        :aria-expanded="mobileNavSubnavOpen"
                                    {{ else }}
                                        href="{{ url }}"
                                    {{ /if }}
                                >
                                    <span>{{ title }}</span>
                                    {{ if children }}
                                        <svg
                                            class="w-3 h-2 overflow-visible stroke-current text-neutral"
                                            :class="{ 'rotate-180': mobileNavSubnavOpen }"
                                            aria-hidden="true"
                                            stroke-width="20"
                                            viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                        /></svg>
                                    {{ /if }}
                                </a>
                                {{ if children }}
                                    <ul
                                        x-show="mobileNavSubnavOpen"
                                        class="flex flex-col space-y-6"
                                        x-collapse
                                        x-cloak
                                    >
                                        {{ children }}
                                            <li class="{{ first ?= 'mt-6' }}">
                                                <a
                                                    class="whitespace-nowrap font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }}"
                                                    href="{{ url }}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                        {{ /children }}
                                    </ul>
                                {{ /if }}
                            </li>
                        {{ /nav:main }}
                    </ul>
                </div>
            </nav>
        </div>

    </div>

</div>
