{{#
    @name Intrebari frecvente
    @desc The faq page builder block.
    @set page.page_builder.faqs
#}}

<section class="py-8 md:py-8 lg:py-12">
    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="grid md:grid-cols-2 gap-y-8 gap-x-8 2xl:gap-x-12">
            <div class="col-span-1">
                <div class="flex flex-col items-center justify-center h-full max-w-lg text-center md:items-start md:text-left">

                    {{ partial:typography/h2 content="Întrebări frecvente"  }}

                    <p class="mt-8 text-indigo-400"> {{ __('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.') }}</p>
                    <p class="max-w-sm mt-8 text-indigo-400">
                        Pentru orice nelămuriri
                        {{ if configuration:phone_number }}
                        sună-ne la
                        <a href="tel:{{ configuration:phone_number }}" class="font-bold text-indigo-900" rel="noopener" target="_blank">{{ configuration:phone_number }}</a>

                        {{ /if }}

                        {{ if configuration:email_address }}

                        {{ if configuration:email_address && configuration:phone_number }}
                            sau
                        {{ /if }}

                        lasă-ne un mesaj la

                        <a href="mailto:{{ configuration:email_address }}" class="font-bold text-indigo-900" rel="noopener" target="_blank">{{ configuration:email_address }}</a>

                        {{ /if }}
                    </p>
                    <div class="mt-8 md:mt-10 xl:mt-12 ">
                        {{ partial:components/button label="trimite-ne un mesaj" link_type="url" url="/contact" inverted="false" }}
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                {{ collection:faqs as="faqs" }}
                    <div class="max-w-3xl mx-auto">
                          <dl class="mt-4 space-y-3 md:mt-8" x-data="{ currentQ: 0 }" x-cloak>
                            {{ faqs }}
                                {{ partial:faqs/question }}
                            {{ /faqs}}
                        </dl>
                    </div>
                {{ /collection:faqs }}
            </div>
        </div>
    </div>
</section>
