{{#
@name Image with text
@desc The image with text page builder block.
@set page.page_builder.image_with_text
#}}


<div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 pr-4 md:pr-0 md:grid-cols-2 gap-y-8 gap-x-8 2xl:gap-x-12">
        {{ if desktop_layout =='image first'}}
            <div class="relative w-full lg:max-w-md xl:max-w-lg 2xl:max-w-2xl gs_reveal gs_reveal_fromLeft">
                <div class="relative z-20 my-4 overflow-hidden translate-x-4 shadow-xl gs_reveal gs_reveal_fromLeft md:my-0 md:translate-x-0 aspect-w-4 aspect-h-4 rounded-3xl">
                    {{ partial:components/figure :image="image" :size="md" }}
                </div>
                <div class="absolute top-0 left-0 z-10 w-full h-full border border-indigo-400 md:-top-5 md:-left-5 rounded-3xl "></div>
            </div>
            <div class="col-span-1 -mx-4 md:mx-0">
                <div class="flex flex-col items-center justify-center h-full text-center md:items-start md:text-left">
                    <div class="mt-6 xl:mt-8 content">{{ text }}</div>
                </div>
            </div>
        {{ /if }}

        {{ if desktop_layout == 'text first'}}
            <div class="order-2 col-span-1 md:order-1">
                <div class="flex flex-col items-center justify-center h-full text-center md:items-end md:text-right">
                    <div class="mt-6 xl:mt-8 content">{{ text }}</div>
                </div>
            </div>
            <div class="relative order-1 w-full col-span-1 md:order-2 lg:max-w-md xl:max-w-lg 2xl:max-w-2xl xl:ml-auto">
                <div class="relative z-20 my-4 overflow-hidden translate-x-4 shadow-xl gs_reveal gs_reveal_fromRight md:my-0 md:translate-x-0 aspect-w-4 aspect-h-4 rounded-3xl">
                    {{ partial:components/figure :image="image" }}
                </div>
                <div class="absolute top-0 right-0 z-10 w-full h-full border border-indigo-400 md:-top-5 md:-right-5 rounded-3xl"></div>
            </div>
        {{ /if}}

    </div>
</div>

