<div class="p-4 overflow-hidden bg-indigo-900 lg:p-8 rounded-3xl">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col justify-center order-2 h-full col-span-1 md:order-1">
            <p class="flex items-center mt-4 ml-4 text-sm text-white lg:ml-8">
                <time datetime="{{ date format_localized="Y-m-d" }}">{{ date iso_format="Do MMMM, YYYY" }}</time>
            </p>
            <div class="px-4 py-6 text-white lg:px-8">
                <h3 class="font-serif text-3xl font-normal">
                    <a href="{{ url }}" title="{{ title }}">
                        {{ title  }}
                    </a>
                </h3>
                <p class="mt-4 font-sans text-base leading-normal text-gray-100">{{ intro }}</p>
                <div class="mt-8">
                    {{ partial:components/button label="Citeste articolul" link_type="url" :url="url" inverted="true" }}
                </div>
            </div>
        </div>
        <div class="relative order-1 col-span-1 md:order-2">
            <div class="block overflow-hidden shadow-xl aspect-w-4 aspect-h-3 rounded-3xl">
                {{ partial:components/picture :image="hero_image" class="mx-auto rounded-xl" cover="true" sizes="(min-width: 768px) 35vw, 90vw" }}
            </div>
            <a href="{{ url }}" class="absolute inset-0 w-full h-full"><span class="sr-only">{{ title }}</span></a>
        </div>
    </div>
</div>
