<article class="px-3 pt-24 mx-auto lg:pt-32 max-w-7xl">

    <div class="relative max-w-screen-xl px-4 mx-auto 2xl:max-w-screen-2xl sm:px-6 lg:px-8">
        <header class="max-w-2xl mx-auto text-center">
            {{ partial:typography/h2 content="Blog Eanclinic" }}

            <p class="mt-6 text-lg font-normal text-indigo-400">
                Descoperă subiecte interesante și soluții utile în articolele de pe blogul nostru.
            </p>
        </header>
    </div>

    {{ collection:blog as="posts" paginate="12" }}

        <section class="grid grid-cols-1 gap-6 py-8 mt-12 lg:mt-16 md:grid-cols-4 lg:grid-cols-6">
            {{ posts }}
                {{ if first }}
                    <div class="mb-12 md:col-span-4 lg:col-span-6 ">
                        {{ partial:blog/card-oversized oversized="true" }}
                    </div>

                {{ else }}

                    <div class="md:col-span-2">
                        {{ partial:blog/card oversized="false" }}
                    </div>

                {{ /if }}
            {{ /posts }}
        </section>

    {{ paginate }}
        {{ if prev_page || next_page }}
        <section class="flex justify-center pt-16 space-x-8 text-xl font-bold">
            {{ if prev_page }}
                <a href="{{ prev_page }}"><span class="squiggle">&larr;</span> Newer articles</a>
            {{ /if }}
            {{ if next_page }}
                <a href="{{ next_page }}">Older articles <span class="squiggle">&rarr;</span></a>
            {{ /if }}
        </section>
        {{ /if }}
    {{ /paginate }}

    {{ /collection:blog }}
</article>
